.Header {
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgb(226, 226, 226);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

.Header > div {
    display: flex;
}

.Header .header_center {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

.Header .header_left {
    width: 25%;
    justify-content: flex-start;
}

.Header .header_right {
    width: 25%;
    justify-content: flex-end;
}
